.chatrm-on.ui.button {
  width: 100%;
  border: 1px solid #4F072C;
  border-radius: 8px;
  background-color: rgba(255,0,0,0);
  color: white;
  margin: 1vw;
  height: auto;
  animation-name: shake; 
  animation-duration: 1s; 
  animation-fill-mode: both; 
  animation-iteration-count:infinite; 
}

.chatrm-off.ui.button {
  width: 100%;
  border: 1px solid #4F072C;
  border-radius: 8px;
  background-color: rgba(255,0,0,0);
  color: white;
  margin: 1vw;
  height: auto;
  /* overflow: auto; */
  
}