.chatrm-on.ui.button {
  opacity: 1;
  margin: 1vw;
  border: 1px solid #4F072C;
  border-radius: 50% / 100%;
  background-color: rgba(255,0,0,0);
  animation-name: bounce; 
  animation-duration: 1s; 
  animation-fill-mode: both; 
  animation-iteration-count:infinite; 
}

.chatrm-off.ui.button {
  border: 1px solid #4F072C;
  border-radius: 50% / 100%;
  background-color: rgba(255,0,0,0);
  color: white;
  margin: 1vw;
  opacity: 0.8;
}