.search-container.ui.container {
  display: flex;
  justify-content: space-between;
}

.search-item {
  width: 25%;
}

.home.ui.button {
  background-color: #4F072C !important;
  color: white !important;
}