@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

.signup-btn.ui.button {
  background-color: #4F072C;
  color: white
}

.login-msg.ui.message {
  background-color: rgba(79, 7, 44, .5);
  border: 1px solid;
  color: white
}

.signup-side.ui.grid > .column {
  background-color: black;
}
